<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431122292799-cchhvtbusi48o40i82sjqttkev0qpe8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431122292799-cchhvtbusi48o40i82sjqttkev0qpe8o</string>
	<key>API_KEY</key>
	<string>AIzaSyAbFim7Ebtl2mxSE0CSpqpeuep3c0tKMYM</string>
	<key>GCM_SENDER_ID</key>
	<string>431122292799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.type.directtype</string>
	<key>PROJECT_ID</key>
	<string>direct-type</string>
	<key>STORAGE_BUCKET</key>
	<string>direct-type.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431122292799:ios:242863839c9703e6dfd88a</string>
	<key>DATABASE_URL</key>
	<string>https://direct-type.firebaseio.com</string>
</dict>
</plist>